@import url("https://fonts.googleapis.com/css?family=Prompt:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Play:700&display=swap");

:root {
  --color-primary: #012b4d;
  --color-secondary: #21211a;
  --color-background: #f6f6f6;
  --color-overlay: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
  --text-overlay: #bfdcdf;
  --dot-nav-mask: #4192d4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
p,
a,
center,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background-color: var(--color-background);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Prompt", Arial, helvetica neue, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  /*color: var(--color-primary);*/

  position: relative;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

p {
  margin-bottom: 1rem;
  width: 70ch;
  font-size: 1rem;
}

.bold {
  font-weight: 700;
}

h1,
h2 {
  margin: 3rem 0 1.38rem;
  font-family: "Prompt", Arial, helvetica neue, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 6.209rem;
  font-family: "Play", Arial, helvetica neue, Helvetica, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2.157rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

/*style rule for background logo*/
.bg_logo {
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-image: url(../images/bg_logo.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Animated Cursor*/

.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  z-index: 4;
}
.cursor {
  background-color: var(--color-primary);
  height: 0;
  width: 0;
}
.cursor2,
.cursor3 {
  height: 30px;
  width: 30px;
  transition: all 200ms ease-out;
  background-position: center;
  background-size: 0 0;
}
.cursor2.hover,
.cursor3.hover {
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 50%;
  -ms-transform: translate(-50px, -70px); /* IE 9 */
  transform: translate(-50px, -70px); /* Standard syntax */
  z-index: -5;
}

.cursor2 {
  border: 2px solid var(--color-primary);
  box-shadow: 0 0 12px rgba(16, 39, 112, 0.2);
}
.cursor2.hover {
  background-size: cover;
  box-shadow: 0 0 0 rgba(16, 39, 112, 0.2);
}

.hover-target {
  position: relative;
  text-decoration: none;
  transition: color 250ms ease;
}

@media only screen and (max-width: 991px) {
  .cursor,
  .cursor2,
  .cursor3 {
    display: none;
  }
}

/* #Cursor
================================================== */

/* social media start*/

.social {
  display: inline-block;
  position: fixed;
  bottom: 1.2rem;
  z-index: 0;
  margin-left: auto;
  padding-left: 1rem;
  font-size: 1rem;
}

.social li {
  display: inline-block;
}
.social li:not(:last-child) {
  margin-right: 1.2rem;
}

.el-link-sm {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

/* social media end*/

/* underline animation start*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  /*color: var(--color-primary);*/
  text-decoration: none;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* underline animation end*/

/* email start*/

.email {
  position: absolute;
  list-style-type: none;
  color: #ffffff;
  bottom: 1.2rem;
  right: 6rem;
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  .email {
    display: none;
  }
}
/* email end */

/*Media query Email & social media : Start*/

@media screen and (max-width: 319px) {
  .social {
    bottom: 0.3rem;
    padding-left: 0.4rem;
    font-size: 0.8rem;
  }
  .social li:not(:last-child) {
    margin-right: 0.6rem;
  }
}

@media screen and (max-width: 991px) {
  .email {
    bottom: 0.3rem;
    right: 0.4rem;
    font-size: 1rem;
  }

  .social {
    bottom: 0.3rem;
    padding-left: 0.4rem;
    font-size: 1rem;
  }
  .social li:not(:last-child) {
    margin-right: 0.6rem;
  }
}
/*Media query Template : End*/

/*Hamburger  start*/
.menu-wrap {
  position: fixed;
  top: 0.625rem;
  right: 1.25rem;
  z-index: 1;
  padding: 3.75rem 0 0 0;
  z-index: 1000;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  padding: 0.9rem;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 120%;
  height: 0.125rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -0.625rem;
  width: 100%;
  height: 0.125rem;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 0.625rem;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
  -webkit-transition: opacity 0.4s ease 0.4s;
  -moz-transition: opacity 0.4s ease 0.4s;
  -o-transition: opacity 0.4s ease 0.4s;
  -ms-transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--color-overlay);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
}

@media only screen and (max-width: 991px) {
  /*Hamburger  start*/
  .menu-wrap {
    position: fixed;
    top: 0.625rem;
    right: 1.25rem;
    z-index: 1000;
    padding: 3.75rem 0 0 0;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.6rem;
  }

  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    width: 100%;
    height: 0.125rem;
  }

  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    top: -0.4rem;
    height: 0.125rem;
  }

  .menu-wrap .hamburger > div::after {
    top: 0.4rem;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.4rem;
  }
}

/*navbar */
.navbar-fixed {
  position: fixed;
  top: 1.2rem;
  left: 12vw;
}

header .header_margin {
  margin-top: 0.625rem;
}

.logo_size {
  width: 18.75rem;
  height: 3.125rem;
  z-index: 1000;
}

@media only screen and (max-width: 991px) and (orientation: landscape) {
  .logo_size {
    width: 9rem;
    height: 2rem;
  }

  .navbar-fixed {
    top: 1rem;
    left: 6vw;
  }
}

@media only screen and (max-width: 991px) and (orientation: portrait) {
  .logo_size {
    width: 15.6rem;
    height: 2.5rem;
  }

  .navbar-fixed {
    top: 1rem;
    left: 6vw;
  }
}

@media only screen and (max-width: 600px) {
  .logo_size {
    width: 12.5rem;
    height: 1.87rem;
  }
  .navbar-fixed {
    top: 1rem;
    left: 6vw;
  }
}

/*end of navbar*/

/*side menu start*/

/* Menu*/
.stick-left-nav-ul {
  padding-left: 0.93rem;
  width: 8.75rem;
}

.sticky-left-nav {
  position: fixed;
  top: 30%;
  width: 9.37rem;
  display: block;
  background-color: transparent;
  z-index: 1;
}

.sticky-left-nav ul li {
  list-style: none;
  height: 1.87rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.sticky-left-nav ul li a span {
  display: block;
  color: var(--color-primary);
  opacity: 0.6;
  padding-top: 0.3125rem;
  font-size: 0.87rem;
}

.sticky-left-nav ul li.nav-active a span {
  content: "";
  display: block;
  height: 0.0125rem;
  width: 0;
  background-color: transparent;
  flex-direction: row;
  margin-top: 0.6rem;
  width: 13.7rem;
  max-width: 13.7rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sticky-left-nav ul li.nav-active-digimarket:hover a span {
  width: 8.5rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.selected-nav-digimarket a span {
  width: 8.5rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.nav-active-price:hover a span {
  width: 3.75rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.selected-nav-price a span {
  width: 3.75rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.nav-active-about:hover a span {
  width: 4.6rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.selected-nav-about a span {
  width: 4.6rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.nav-active-app:hover a span {
  width: 5.9rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.selected-nav-app a span {
  width: 5.9rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.nav-active-dev:hover a span {
  width: 9.3rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.selected-nav-dev a span {
  width: 9.3rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.nav-active-design:hover a span {
  width: 7.18rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.selected-nav-design a span {
  width: 7.18rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.nav-active-ma:hover a span {
  width: 7.8rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.sticky-left-nav ul li.selected-nav-ma a span {
  width: 7.8rem;
  opacity: 1;
  background-color: var(--color-primary);
}

.side-menu {
  z-index: 2000;
}

@media screen and (max-width: 991px) {
  .side-menu {
    display: none;
  }
}

/*side menu end*/

.download_icon {
  height: 1.56rem;
  width: 1.56rem;
  padding: 0.5rem 0.5rem 0 0;
}

/* mouse scroll*/

.mouse-wrap {
  position: absolute;
  position: fixed;
  left: 50%;
  bottom: 3.75rem;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.mouse {
  top: 0;
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  width: 1.25rem;
}

.mouse:after {
  content: "";
  background-color: var(--color-primary);
  width: 0.18rem;
  height: 0.18rem;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite;
  position: absolute;
  top: -1.8rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: translateY(1.25rem);
}

.mouse .frame {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.mouse .frame path {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 3;
  opacity: 0.5;
}

.mouse .mouse-left,
.mouse .mouse-right {
  width: 50%;
  position: absolute;
  z-index: 2;
}

.mouse .mouse-right {
  right: 0;
}

.mouse .Animate-Draw {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 3;
  fill-opacity: 1;
}

.mouse .mouse-left .Animate-Draw {
  animation: DrawLine 5s ease-out infinite;
}

.mouse .mouse-right .Animate-Draw {
  animation: DrawLineBack 5s ease-out infinite;
}

@keyframes DrawLine {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  22% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  38% {
    stroke-dashoffset: 125;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  38.1% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 0;
  }
  48% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  64% {
    stroke-dashoffset: 125;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  64.1% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 0;
  }
  74% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  90% {
    stroke-opacity: 1;
    stroke-dashoffset: 125;
    stroke-dasharray: 120;
  }
  90.1% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 0;
  }
}

@keyframes DrawLineBack {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  22% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  38% {
    stroke-dashoffset: -114;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  38.1% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 0;
  }
  48% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  64% {
    stroke-dashoffset: -114;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  64.1% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 0;
  }
  74% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 1;
  }
  90% {
    stroke-opacity: 1;
    stroke-dashoffset: -114;
    stroke-dasharray: 120;
  }
  90.1% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120;
    stroke-opacity: 0;
  }
}

@keyframes trackBallSlide {
  0% {
    transform: translateY(1.25rem) scale(1);
    opacity: 1;
  }
  22% {
    transform: translateY(1.25rem) scale(1);
    opacity: 1;
  }
  26% {
    transform: translateY(1.8rem) scale(0.9);
    opacity: 1;
  }
  34% {
    transform: translateY(2.18rem) scale(0.1);
    opacity: 0;
  }
  41% {
    transform: translateY(1.25rem) scale(0);
    opacity: 0.3;
  }
  48% {
    transform: translateY(1.25rem) scale(1);
    opacity: 1;
  }
  52% {
    transform: translateY(1.8rem) scale(0.9);
    opacity: 1;
  }
  60% {
    transform: translateY(2.18rem) scale(0.1);
    opacity: 0;
  }
  67% {
    transform: translateY(1.25rem) scale(0);
    opacity: 0.3;
  }
  74% {
    transform: translateY(1.25rem) scale(1);
    opacity: 1;
  }
  78% {
    transform: translateY(1.8rem) scale(0.9);
    opacity: 1;
  }
  86% {
    transform: translateY(2.18rem) scale(0.1);
    opacity: 0;
  }
  93% {
    transform: translateY(1.25rem) scale(0);
    opacity: 0.3;
  }
  100% {
    transform: translateY(1.25rem) scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {
  .mouse-wrap {
    display: none;
  }
}

/* end of mouse*/

/* banner CTA*/

.cta_banner {
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 1.25rem;
  overflow: hidden;
  width: 34.37rem;
  background: linear-gradient(-45deg, #dbb6ab, #c297fa, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: absolute;
  position: fixed;
  left: 50%;
  bottom: 1.3rem;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.cta_banner-info a {
  letter-spacing: 0.0625rem;
  margin: 0.625rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.cta_banner-info {
  padding: 1.87rem;
  position: relative;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 991px) {
  .cta_banner-info a {
    font-size: 0.8125rem;
  }
  .cta_banner {
    width: 19.37rem;
    height: 4.37rem;
    bottom: 3.75rem;
  }
  .cta_banner-info {
    padding: 0.5rem 0.5rem;
    text-align: center;
  }
}

.cta_banner-glow {
  width: 7rem;
  height: 3.125rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0.625rem;
  font-size: 1rem;
  position: absolute;
  top: 1.18rem;
  right: 1.25rem;
  float: inline-end;
}

.cta_banner-glow:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -0.125rem;
  left: -0.125rem;
  background-size: 400%;
  z-index: -1;
  filter: blur(0.3125rem);
  width: calc(100% + 0.25rem);
  height: calc(100% + 0.25rem);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0.625rem;
}

.cta_banner-glow:hover:before {
  opacity: 1;
}

.hide {
  display: none;
}

.cta_banner-glow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 0.625rem;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 991px) {
  .cta_banner-glow {
    width: 6.87rem;
    height: 1.68rem;
    font-size: 0.75rem;
    top: 2.18rem;
    right: 6.56rem;
  }
}

@media only screen and (max-width: 991px) and (orientation: landscape) {
  .cta_banner {
    display: none;
  }
}

/* banner CTA end*/

/*Dot navigation*/

.carousel_nav {
  display: none;
}

.carousel__indicator {
  display: none;
}

.carousel__indicator.current-slide {
  /*background: rgba(0, 0, 0, 0.6);*/
  background: var(--color-primary);
}

.is-hidden {
  display: none;
}

/*Dot navigation end */

.carousel {
  position: absolute;
  height: 68vh;
  width: 95%;
  margin: 0 auto;
}

.carousel_button {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;

  width: 45px;
}

.carousel_button--left {
  left: -0.1rem;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate-(90deg);
  transform: rotate(-90deg);
  z-index: 999;
}

.carousel_button--right {
  right: -0.625rem;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 999;
}

.carousel_button img {
  width: 1.5625rem;
}

@media only screen and (max-width: 319px) {
  .carousel_nav {
    left: 7vw;
  }

  .carousel__indicator {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.3125rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 441px) {
  .carousel_nav {
    left: 15vw;
  }

  .carousel__indicator {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.375rem;
  }
}

@media only screen and (min-width: 442px) and (max-width: 542px) {
  .carousel_nav {
    left: 20vw;
  }

  .carousel__indicator {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.43rem;
  }
}

@media only screen and (min-width: 543px) and (max-width: 643px) {
  .carousel_nav {
    left: 30vw;
  }

  .carousel__indicator {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.43rem;
  }
}

@media only screen and (min-width: 644px) and (max-width: 745px) {
  .carousel_nav {
    left: 30vw;
  }

  .carousel__indicator {
    width: 0.937rem;
    height: 0.937rem;
    margin: 0 0.625rem;
  }
}

@media only screen and (min-width: 746px) and (max-width: 847px) {
  .carousel_nav {
    left: 33vw;
  }

  .carousel__indicator {
    width: 0.937rem;
    height: 0.937rem;
    margin: 0 0.625rem;
  }
}
@media only screen and (min-width: 847px) and (max-width: 991px) {
  .carousel_nav {
    left: 33vw;
  }

  .carousel__indicator {
    width: 0.93rem;
    height: 0.93rem;
    margin: 0 0.625rem;
  }
}

@media only screen and (min-width: 992px) {
  .carousel_nav {
    display: none;
  }

  .carousel_button {
    display: none;
  }

  .carousel {
    position: absolute;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
  }
}

/*carosel*/

.carousel__track-container {
  background: transparent;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transform: all 250ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* hero text*/
.c-hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/*
@media only screen and (min-width: 992px) {
  .carousel_nav {
    display: none;
  }
  .carousel_button {
    display: none;
  }
}
*/
.c-hero__content {
  position: relative;
  top: 40vh;
  left: 10vw;
  transform: translateY(-50%);
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 5;
}

.c-hero__headline {
  color: var(--color-primary);
  font-size: 8vw;
  font-weight: 200;
  line-height: 1;
  text-align: left;
  margin-bottom: 0;
}

.c-hero__subheadline {
  color: var(--color-primary);
  font-size: 4vw;
  font-weight: 200;
  line-height: 1.2;
  text-align: left;
  width: 80%;
  margin-top: 0;
  padding-top: 4vh;
}

.c-hero__Para {
  color: var(--color-primary);
  font-size: 3vw;
  font-weight: 100;
  text-align: left;
  width: 80%;
}

@media screen and (max-width: 991px) and (orientation: landscape) {
  .c-hero__content {
    position: relative;
    top: 40vh;
    left: 10vw;
    transform: translateY(-50%);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
  }

  .c-hero__headline {
    color: var(--color-primary);
    font-size: 2.5vw;
    font-weight: 200;
    line-height: 1;
    text-align: left;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
  }

  .c-hero__subheadline {
    color: var(--color-primary);
    font-size: 2vw;
    font-weight: 200;
    line-height: 1.2;
    text-align: left;
    width: 80%;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 1.5vh;
  }

  .c-hero__Para {
    color: var(--color-primary);
    font-size: 1vw;
    font-weight: 100;
    text-align: left;
    width: 80%;
  }
}
/*
@media only screen and (max-width: 319px) {
}

@media only screen and (min-width: 320px) and (max-width: 441px) {
}

@media only screen and (min-width: 442px) and (max-width: 542px) {
}

@media only screen and (min-width: 543px) and (max-width: 643px) {
}

@media only screen and (min-width: 644px) and (max-width: 745px) {
}

@media only screen and (min-width: 746px) and (max-width: 847px) {
}
@media only screen and (min-width: 847px) and (max-width: 991px) {
}*/
@media only screen and (min-width: 992px) {
  .c-hero__content {
    position: relative;
    top: 45vh;
    left: 25vw;
    transform: translateY(-50%);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
  }

  .c-hero__headline {
    color: var(--color-primary);
    font-size: 4vw;
    font-weight: 200;
    line-height: 1;
    text-align: left;
    padding-bottom: 0.6vh;
  }

  .c-hero__subheadline {
    color: var(--color-primary);
    font-size: 2vw;
    font-weight: 200;
    line-height: 1;
    text-align: left;
    width: 60%;
  }

  .c-hero__Para {
    color: var(--color-primary);
    font-size: 1vw;
    font-weight: 100;
    text-align: left;
    width: 60%;
    padding-bottom: 1.4vh;
  }
}
/*
@media only screen and (max-width: 991px) and (orientation: landscape) {
  .c-hero__content {
    position: relative;
    top: 45vh;
    left: 20vw;
    transform: translateY(-50%);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 5;
  }

  .c-hero__headline {
    color: var(--color-primary);
    font-size: 4vw;
    font-weight: 200;
    line-height: 1;
    text-align: left;
  }

  .c-hero__subheadline {
    color: var(--color-primary);
    font-size: 1.5vw;
    font-weight: 200;
    line-height: 1;
    text-align: left;
    width: 60%;
    margin-top: 0;
  }

  .c-hero__Para {
    color: var(--color-primary);
    font-size: 1vw;
    font-weight: 100;
    text-align: left;
    width: 60%;
  }
}*/
/*
@media only screen and (max-width: 600px) {
  .c-hero__headline {
    color: var(--color-primary);
    font-size: 8vw;
    font-weight: 200;
    line-height: 1;
    text-align: left;
  }

  .c-hero__subheadline {
    color: var(--color-primary);
    font-size: 4vw;
    font-weight: 200;
    line-height: 1;
    text-align: left;
    width: 80%;
  }

  .c-hero__Para {
    color: var(--color-primary);
    font-size: 3vw;
    font-weight: 100;
    text-align: left;
    width: 80%;
  }
}
*/
/* hero text*/
/* hero text animation*/

:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}

.reveal-text,
.reveal-text::after {
  -webkit-animation-delay: var(--animation-delay, 2s);
  animation-delay: var(--animation-delay, 2s);
  -webkit-animation-iteration-count: var(--iterations, 1);
  animation-iteration-count: var(--iterations, 1);
  -webkit-animation-duration: var(--duration, 800ms);
  animation-duration: var(--duration, 800ms);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  /* position: relative;
  font-size: 10vw;
    white-space: nowrap;
  cursor: default;*/
  -webkit-animation-name: clip-text;
  animation-name: clip-text;
  color: var(--color-primary);
}

.reveal-text::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-overlay);
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: text-revealer;
  animation-name: text-revealer;
}

@-webkit-keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 10% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 10% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

/* hero text animation*/

/*play button*/

.blobs-container {
  display: flex;
  position: absolute;
  right: -5vw;
  top: 50vh;
  transform: translateY(-90%);
  cursor: pointer;

  /* z-index: 900;*/
}

@media only screen and (max-width: 991px) {
  .blobs-container {
    display: flex;
    position: absolute;
    right: 5vw;
    top: 60vh;
    transform: translateY(-90%);
    transform: scale(0.8);
    cursor: pointer;
  }
}

@media only screen and (max-width: 991px) and (orientation: landscape) {
  .blobs-container {
    display: flex;
    position: absolute;
    left: 5vw;
    top: 61vh;
    transform: translateY(-90%);
    transform: scale(0.8);
    cursor: pointer;
  }
}

.blob {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 40px;
  width: 40px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .blobs-container {
    display: flex;
    position: absolute;
    right: 5vw;
    top: 60vh;
    transform: translateY(-90%);
    transform: scale(0.8);
    cursor: pointer;
  }

  .blob {
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 60px;
    width: 60px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
    cursor: pointer;
  }
}

.blob:hover {
  background: white;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: all 1.5s ease;
  background: rgba(0, 0, 0, 0.85);
}

.modal-video-container {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: scale(0);
  width: 0;
  height: 0%;
  padding-top: 56.25%;
  transition: all 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.video-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 70%;
  height: 70%;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 1300px) {
  .modal-video-container {
    top: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .video-popup {
    width: 85%;
    height: 85%;
  }
  .modal-video-container {
    left: 7%;
  }
}

@media only screen and (max-width: 600px) {
  .modal-video-container {
    top: 30%;
  }
}

.close {
  position: absolute;
  width: 100%;
  height: 3.125rem;
  z-index: 999;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.close > span {
  position: absolute;
  left: 95%;
  top: 50%;
}

/************/

.blobs-container {
  display: flex;
  cursor: pointer;
}

.blob {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 0.625rem;
  height: 3.75rem;
  width: 3.75rem;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  cursor: pointer;
  z-index: 1001;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  transition: all 1.5s ease;
  background: rgba(0, 0, 0, 0.85);
}

.modal-video-container {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: scale(0);
  width: 0;
  height: 0%;
  padding-top: 56.25%;
  transition: all 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.video-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 70%;
  height: 70%;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 1300px) {
  .modal-video-container {
    top: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .video-popup {
    width: 85%;
    height: 85%;
  }
  .modal-video-container {
    left: 7%;
  }
}

@media only screen and (max-width: 600px) {
  .modal-video-container {
    top: 30%;
  }
}

.close {
  position: absolute;
  width: 100%;
  height: 3.125rem;
  z-index: 999;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.close > span {
  position: absolute;
  left: 95%;
  top: 50%;
}

/************/

.btn-contact {
  display: none;
}

@media only screen and (max-width: 991px) and (orientation: landscape) {
  .btn {
    background: var(--color-primary);
    -moz-user-select: none;
    user-select: none;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 15px 15px;
    border-radius: 5px;
    min-width: 75px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
  }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--dot-nav-mask);
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
  }
  .btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
  }
  .btn-contact {
    display: flex;
    position: absolute;
    left: 45vw;
    top: 66vh;
    transform: translateY(-90%);
    transform: scale(0.8);
    cursor: pointer;
  }
}

.loading {
  padding: 30px;
  border: 6px solid #85b2d6;
  border-right-color: #012b4d;
  border-radius: 50px;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 991px) {
  .loading {
    padding: 15px;
    border-radius: 40px;
    left: 50%;
    top: 50%;
  }
}

/*404 button*/

c-hero__content button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-3 {
  background: rgba(61, 70, 199, 0.938);
  background: linear-gradient(0deg, rgba(23, 28, 92) 0%, rgb(23, 28, 92) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(23, 28, 92);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(23, 28, 92);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(23, 28, 92);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

/* social logo*/

.social_button {
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 50px;
  padding-left: 6px;
}

@media only screen and (max-width: 991px) {
  .social_button {
    height: 44px;
    width: 44px;
    padding-left: 8px;
  }
}
/* social logo*/
